.auth-box {
    width: 380px;
    margin: 120px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.auth-box h2 {
    text-align: center;
    margin-bottom: 20px;
}

.auth-box input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.auth-box p {
    text-align: center;
    margin-top: 15px;
}
